/* TODO: make it look awesome. */
/* TODO: make it responsive. */
html {
  font-size: 16px;
}

body {
  background-color: rgb(63, 68, 71);
}

form {
  max-width: 45rem;
  background-color: rgb(222, 233, 243);
  padding: 1rem;
  border-radius: 0.25rem;
  margin: 0 auto;
}
input,
textarea,
select {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 2rem;
  padding: 0.125rem;
  /* border: 1px solid grey; */
  border: none;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}
input {
  padding-left: 7px;
}

h3 {
  margin-top: 0;
}

label {
  margin-bottom: 0.25rem;
  display: inline-block;
  font-family: sans-serif;
  font-weight: 600;
}

div.uvu-id {
  display: none;
  width: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul small {
  font-weight: 600;
  font-size: 1rem;
  color: rgb(84, 154, 197);
}

ul pre {
  margin: 0;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
}

ul pre p {
  margin: 0.25rem 0 0 0;
}

ul li {
  padding: 0.5rem 0.75rem;
  /* border: solid 1px rgb(84, 154, 197); */
  border: none;
  background-color: white;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
}
